*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(black-2560X1600-aia8wqjie843qhfq.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 5px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0px 15px rgb(95, 95, 95);
    width: auto;
    border: 5px solid rgba(0, 0, 0, 0.3);
}
.btns{
    & input{
        border: none;
        border-radius: 20px;
        height: 60px;
        width:100%;
        margin: 10px 1px;
        font-size: 20px;
        background: transparent;
        box-shadow:  3px 3px 10px rgb(55, 55, 55), -3px -3px 5px rgb(55, 55, 55);
        border: 3px solid rgba(0, 0, 0, 0.3);
        color: white;
    }
    & button{
        height: 60px;
        width: 60px;
        border: none;
        margin: 5px 2px;
        border-radius: 50%;
        box-shadow:  3px 3px 5px rgb(55, 55, 55),-3px -3px 5px rgb(0, 0, 0);
        font-size: 20px;
        font-weight: bold;
        color: white;
        background: transparent;
        
    }
    & .cal{
        color: #ffffff;
        text-shadow: 2px 2px 5px rgb(0, 0, 0),-2px -2px 5px rgb(0, 0, 0);
        background: rgba(112, 72, 72, 0.127);
    }
    & .red{
        background: rgba(228, 48, 48, 0.251);
    }
    & .red:active{
        background: #ccccff36
        
    }

    .yellow{
        background: rgba(166, 161, 73, 0.245);
    }
    & button:active{
        background-color: #ccccff;
        color: black;
        box-shadow: 0 0px 5px rgb(55, 55, 55);
        transform: scale(.8);
    }
}